{% extends 'fanfics/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block main %}
    <div class="py-1 text-center" style="background-size:cover;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
<form class="post-form" method="POST" action="{% url 'fanfic' pk=pk %}" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</form>
            </div>
</div>
</div>
</div>
{% endblock %}